:root {
  --first-color: #000066;
  --second-color: #f17b24;
}

body {
  direction: ltr;
  text-align: left;
}

html {
  overflow-x: hidden;
}

#root .container-fluid:nth-child(2) {
  min-height: 100vh;
}

img {
  max-width: 100%;
}

ul {
  padding: 0;
  list-style: none;
}

.row {
  width: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--first-color);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--first-color);
  border-radius: 5px;
}

/* Start Navber */

.Navbar {
  background-color: var(--first-color);
  box-shadow: 0 10px 29px 0 rgb(33 43 70 / 10%);
  padding: 15px;
}

.Navbar .navbar-nav {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.Navbar #basic-navbar-nav {
  height: 100%;
}

.Navbar .navbar-nav .nav-link {
  color: white;
  font-weight: 500;
  font-size: 18px;
  padding: 0 !important;
  margin: 0 15px;
  text-align: left;
  position: relative;
}

.Navbar .navbar-nav .nav-link::before {
  content: "";
  position: absolute;
  bottom: -20%;
  left: 0;
  width: 15px;
  border-bottom: 1px solid var(--second-color);
  transition: 0.4s;
}

.Navbar .navbar-nav .nav-link.active {
  color: white;
}

.Navbar .navbar-nav .nav-link.active::before {
  width: 100%;
}

.Navbar .navbar-toggler-icon {
  width: 1.4rem;
}

.Navbar .navbar-toggler:focus {
  box-shadow: 0 0 0 0;
}

/* nav-action */

.Navbar .nav-action {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Navbar .nav-action button {
  background-color: var(--first-color) !important;
  border: none;
  position: relative;
  padding: 0;
}

.Navbar .nav-action button svg {
  color: white;
  font-size: 30px;
  margin: 0 10px;
}

.Navbar .nav-action button .Number {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  background-color: var(--bs-danger);
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* End Navber */

/* Start Banner */

.Banner img {
  position: relative;
  margin-bottom: 50px;
}

.Banner .Massage-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.Banner .Massage-banner h1 {
  font-size: 30px;
  letter-spacing: 1px;
  color: white;
  background: rgba(0, 0, 0, 0.43);
  width: 50%;
  border-radius: 10px;
  text-align: center;
  padding: 30px;
  line-height: 1.4;
}

/* End Banner */

/* Start Slider */

.carousel-caption {
  left: unset !important;
  bottom: 40% !important;
}

.carousel-caption h1 {
  font-size: 70px;
  text-shadow: 0 0 3px #000000, 0 0 5px var(--first-color);
}

.carousel-caption h1 strong {
  color: var(--second-color);
}

.carousel-caption h5:nth-child(2) {
  margin-top: 30px;
}

.carousel-indicators button {
  border-radius: 50%;
  width: 15px !important;
  height: 15px !important;
}

.carousel-indicators button.active {
  background-color: var(--second-color);
}

.carousel-control-prev,
.carousel-control-next {
  opacity: 0 !important;
}

/* End Slider */

/* Start About us */

.About-us {
  margin: 100px 0;
}

.About-us h2 {
  color: var(--first-color);
}

.About-us strong {
  color: var(--second-color);
}

.About-us ul {
  padding: 0;
  font-weight: 600;
}

.About-us ul svg {
  color: var(--second-color);
  margin-right: 10px;
}

.About-us .border-image {
  position: relative;
  margin-top: -1.5rem;
}

.About-us .border-image::before {
  border: 5px solid var(--first-color);
  content: "";
  position: absolute;
  top: 30px;
  bottom: -20px;
  right: 30px;
  left: -20px;
  z-index: -1;
}

.About-us .border-image img {
  transition: 0.4s;
}

.About-us .border-image img:hover {
  transform: translate(-20px, 20px);
}

/* End About us */

/* Start Product-newest */

/* Titr-bar */

.Product-newest .Titr-bar h2 {
  text-align: center;
  color: var(--first-color);
}

.Product-newest .bar-main {
  display: flex;
  justify-content: center;
}

.Product-newest .bar.bar-big {
  height: 5px;
  width: 90px;
  background: #ffdeadab;
  position: relative;
  border-radius: 30px;
  margin: 15px 0px 40px 0;
}

.Product-newest .bar.bar-big::before {
  content: "";
  position: absolute;
  left: 0;
  top: -2.7px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: var(--second-color);
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: MOVE-BG;
  animation-name: MOVE-BG;
  animation-direction: alternate;
}

.Product-newest .t_center .bar.bar-big::before {
  margin: auto;
}

.Product-newest .t_right .bar.bar-big::before {
  left: auto;
  margin: auto;
  right: 0;
}

@-webkit-keyframes MOVE-BG {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  to {
    -webkit-transform: translateX(88px);
    transform: translateX(88px);
  }
}

@keyframes MOVE-BG {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  to {
    -webkit-transform: translateX(88px);
    transform: translateX(88px);
  }
}

/* Product-carousel */

.Product-carousel .react-multi-carousel-track {
  transition: 0.4s !important;
}

.Product-carousel .Product-Cards {
  margin: 20px;
  box-shadow: none;
}

/* End Product-newest */

/* Start Product-Cards */

.Product-Cards {
  margin: 20px 10px;
  background-color: #f6f6f6 !important;
  box-shadow: 0 10px 29px 0 rgb(33 43 70 / 10%);
}

/* card-body */

.Product-Cards .card-body .card-title {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.Product-Cards .card-body .name {
  color: var(--first-color);
}

.Product-Cards .card-body .summery {
  font-size: 14px;
  margin: 15px 0;
}

.Product-Cards .card-body .price {
  margin: auto;
  margin-right: 0;
}

/* button */

.Product-Cards .Product-Cards-button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px 0;
}

.Product-Cards .Product-Cards-button button {
  margin: 0 2px;
}

.Product-Cards .Product-Cards-button-love button,
.Product-Cards .Product-Cards-button-info button,
.Product-Cards .Product-Cards-button-cart button {
  background-color: white;
  border: none;
  color: var(--second-color);
  transition: 0.4s;
  font-size: 40px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
}

.Product-Cards .Product-Cards-button-love button:hover,
.Product-Cards .Product-Cards-button-love button:active,
.Product-Cards .Product-Cards-button-info button:hover,
.Product-Cards .Product-Cards-button-info button:active,
.Product-Cards .Product-Cards-button-cart button:hover,
.Product-Cards .Product-Cards-button-cart button:active {
  color: white;
  background-color: var(--second-color);
}

/* Product-Cards-button-action */

.Product-Cards .Product-Cards-button-action {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.Product-Cards .Product-Cards-button-control {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Product-Cards .Product-Cards-button-counter {
  padding: 0 15px;
  font-size: 16px;
  color: var(--first-color);
}

.Product-Cards .Product-Cards-button-add button {
  color: green;
  font-size: 30px;
}

.Product-Cards .Product-Cards-button-add button:hover,
.Product-Cards .Product-Cards-button-add button.active {
  background-color: green;
}

.Product-Cards .Product-Cards-button-remove button {
  color: red;
  font-size: 30px;
}

.Product-Cards .Product-Cards-button-remove button:hover,
.Product-Cards .Product-Cards-button-remove button.active {
  background-color: red;
}

/* End Product-Cards*/

/* Start Shopping-cart */

.Shopping-cart {
  border-radius: 5px;
}

.Shopping-cart .offcanvas-body {
  padding: 0;
}

.Shopping-cart .Shopping-cart-total p {
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  margin: 30px 0;
  color: red;
}

.Shopping-cart .Payment {
  border: 2px solid var(--first-color);
  background-color: var(--first-color);
  padding: 15px;
  font-size: 24px;
  width: 75%;
  margin: auto;
  transition: 0.4s;
  margin-bottom: 20px;
}

.Shopping-cart .Payment:hover {
  background: white;
  color: var(--first-color);
}

/* Shopping-cart-item */

.Shopping-cart .Shopping-cart-item {
  padding: 20px;
  padding-right: 0;
}

.Shopping-cart .Shopping-cart-item:nth-child(even) {
  background-color: #f6f6f6;
}

.Shopping-cart .hstack {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.Shopping-cart .Shopping-cart-item-img img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 5px;
}

.Shopping-cart .Shopping-cart-item-name p {
  font-size: 18px;
  padding-left: 10px;
}

.Shopping-cart .Shopping-cart-item-price p {
  font-size: 18px;
  margin: 0;
  color: var(--first-color);
}

.Shopping-cart button {
  padding: 0 6px;
}

/* End Shopping-cart-item */

/* Star Sign-up */

.Sign-up {
  width: 100%;
  box-shadow: 0 10px 29px 0 rgb(33 43 70 / 10%);
  padding: 40px 60px;
  border-radius: 15px;
}

.Sign-up h2 {
  font-size: 30px;
  text-align: center;
  text-shadow: 0 0 2px var(--first-color);
}

.Sign-up label {
  color: var(--first-color);
  font-size: 18px;
  font-weight: 400;
  margin-top: 30px;
}

.Sign-up input {
  background-color: #efefef;
  transition: 0.4s;
}

.Sign-up input:focus {
  border-color: var(--second-color);
  box-shadow: none;
}

.Sign-up span {
  color: red;
  font-size: 16px;
  font-weight: 500;
  display: block;
  margin-top: 10px;
}

.Sign-up button.btn {
  background-color: green;
  border: 1px solid green;
  color: white;
  padding: 10px 20px;
  margin-top: 25px;
  font-size: 20px;
  transition: 0.4s;
}

.Sign-up button.btn:hover {
  color: #198754;
  background: white;
}

.Sign-up svg {
  color: var(--second-color);
  font-size: 20px;
  margin-bottom: 5px;
  margin-right: 5px;
}

/* login */

.login-image {
  width: 100%;
  height: 100%;
}

.login-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px 0 0 15px;
  box-shadow: 0 10px 29px 0 rgb(33 43 70 / 10%);
}

.Login {
  border-radius: 0 15px 15px 0;
}

.Login-icon {
  text-align: center;
}

.Login-icon svg {
  font-size: 100px;
  color: var(--first-color);
}

.Login label.remember {
  width: 50%;
  color: var(--first-color);
  padding-left: 10px;
}

.Login .Remember {
  font-size: 20px;
  width: 15px;
  height: 15px;
  background-color: #efefef;
}

.Login .Forgat-password {
  width: 45%;
  display: inline-block;
  color: black;
  text-decoration: none;
  text-align: right;
}

.Login button.btn {
  width: 100%;
  padding: 15px 0;
  font-size: 25px;
}

.Login .account {
  width: 100%;
  display: inline-block;
  color: black;
  text-decoration: none;
  text-align: center;
  margin-top: 20px;
}

/* End Sign-up */

/* Start Footer */

.Footer {
  margin-top: 50px;
  background-image: url(../../../Imgs/FooterBg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
  position: relative;
  overflow: hidden;
}

.Footer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: var(--first-color);
  opacity: 0.9;
}

.Footer h5 {
  margin-bottom: 25px;
  color: var(--second-color);
  font-size: 24px;
  font-weight: 600;
}

.Footer h5 strong {
  font-weight: 600;
  color: rgb(231, 230, 230);
}

.Footer ul {
  padding: 0;
}

.Footer li {
  position: relative;
  transition: 0.4s;
  line-height: 2;
}

.Footer li:hover {
  transform: translate(5px, 0);
}

.Footer p,
.Footer a {
  color: white;
  text-decoration: none;
}

.Footer p strong {
  color: var(--second-color);
}

.Footer svg {
  color: var(--second-color);
  margin-right: 5px;
}

.footer-address,
.footer-links,
.footer-contact {
  padding: 40px 10px;
  position: relative;
}

.footer-address img {
  margin-bottom: 25px;
  margin-top: -15px;
}

.footer-contact .sm-list {
  display: flex;
}

.footer-contact .sm-list li:hover {
  transform: translate(0px, -5px);
}

.footer-contact .sm-list li {
  margin: 5px;
}

.footer-contact .sm-list li:nth-child(1) {
  margin-left: 0;
}

.footer-contact .sm-list svg {
  font-size: 35px;
  background-color: rgb(231, 230, 230);
  color: var(--second-color);
  padding: 7px;
  border-radius: 5px;
  transition: 0.4s;
}

.footer-contact .sm-list li:hover svg {
  background-color: var(--second-color);
  color: rgb(231, 230, 230);
}

/* End Footer */

@media (max-width: 998px) {
  .carousel-caption {
    display: none;
  }
}
